<h1>Log In</h1>

<%= form_for :session, url: sessions_path do |f| %>
  <fieldset>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
    <%= f.submit "Log In", :disable_with => 'Logging In...' %>
  </fieldset>
<% end %>
