<h2>Update Information</h2>

<%= form_for @user, url: profile_path, method: :put  do |f| %>
  <% if @user.errors.any? %>
    <%= render 'error' %>
  <% end %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name, placeholder: "Name", autofocus: true, value: @user.name %> <br>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password, placeholder: "Password", value: @user.password %> <br>
  <%= f.label :email, "Email" %>
  <%= f.text_field :email, placeholder: "Email", value: @user.email  %> <br>
  <%= f.label :phone, "Phone" %>
  <%= f.text_field :phone, placeholder: "Phone", value: @user.phone %> <br>
  <%= f.label :handle, "GameFinder Handle" %>
  <%= f.text_field :handle, placeholder: "GameFinder Handle", value: @user.handle %> <br>

  <%= f.submit "Submit Changes", :disable_with => 'Submiting...' %>
<% end %>